BACKEND_URL=http://localhost:3001
OAUTH_CLIENT_NAME=Main App
HYDRA_PUBLIC_URL=http://localhost:4444
OAUTH_CLIENT_ID=poc-main-app
OAUTH_REDIRECT_URI=http://localhost:3002/callback
MEMBER_APP_URL=http://localhost:3003
